{% extends 'music/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ album }}{% endblock %}
{% block content %}

    <div class="container-fluid songs-container px-0 px-md-3">

        <div class="row">

            <div class="col-12 col-md-6 col-lg-5 col-xl-4">

                <!-- ******* ALBUM CARD ******* -->

                {% include 'music/album_card.html' %}

            </div>


            <div class="col-12 col-md-6">

                <!-- ******* SONGS CARD NAV ******* -->

                <div class="row mx-1 text-center">
                    <a href="{% url 'music:detail' album.id %}"
                       class="btn btn-dark col-6 card-{{ album.color }}"
                       role="button"
                       aria-pressed="true">View All</a>
                    <a href="{% url 'music:create_song' album.id %}"
                       class="btn btn-dark active col-6"
                       role="button">Add New Song</a>
                </div>

                <!-- ******* SONGS CARD ******* -->

                <div class='card card-{{ album.color }} bg-dark text-white mw-20 mx-1'>
                    <div class="card-body">
                        <h2 class="mb-2 pl-md-2">Add a New Song</h2>

                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}

                        <!-- ******* AUDIO UPLOAD FORM******* -->

                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="form-group border-top pt-4">
                                <button type="submit" class="btn btn-outline-{{ album.color }}">Add Song</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}