{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}
{% block body %}

    <img src="{{ album.album_logo }}" alt="{{ album }}" width="250"><br>
    <h3>{{ album }}</h3>
    <span>Genre: {{ album.genre }}</span><br>
    <span>Format: {{ album.file_type }}</span>

    {% for song in album.song_set.all %}
        {{ song.song_title }}
        {% if song.is_favorite %}
            <img src="https://cdn.iconscout.com/icon/free/png-256/flame-58-546932.png"
                 alt="{{ song.song_title }}" width="16">
        {% endif %}
        <br>
    {% endfor %}

    <span><a href="{{ album.facebook }}"><i class="fab fa-facebook-square fa-5x"
                                            onmouseover="this.style.color='{{ album.color }}'"
                                            onmouseout="this.style.color='#B0B0B0'"></i></a></span>

{% endblock %}