{% extends 'music/base.html' %}
{% block title %}{% if q %}Search Results{% else %}{{user}}'s Albums{% endif %}{% endblock %}
{% block albums_active %}active{% endblock %}
{% block content %}
    <div class="content-cust">

        <div class="albums-container container-fluid px-0 px-md-3">

            {% if albums or songs %}

                {% if albums %}

                    <div class="row justify-content-between">

                        {% for album in albums %}

                            <!-- ******* ALBUM CARD START ******* -->

                            <div class="col-12 col-md-6 col-lg-4 my-3">
                                <div class='card card-{{ album.color }} alb-card bg-dark text-white mx-auto'
                                     style="min-width: 20em; max-width: 30em">

                                    <!-- ******* TITLE AND LOGO ******* -->

                                    <div class="card-header  text-center">
                                        <h3>{{ album.album_title }}</h3>
                                        <h5>{{ album.artist }}</h5>
                                    </div>

                                    <a href="{% url 'music:detail' album.id %}">
                                        <img src="{{ album.album_logo.url }}" alt="{{ album.album_logo.url }}"
                                             class="card-img-top"
                                             width="400">
                                    </a>

                                    <!-- ******* BUTTONS ******* -->

                                    <div class="card-body">
                                        <div class="row justify-content-between mx-1">
                                            <div class="btn-group" role="group">

                                                <a href="{% url 'music:detail' album.id %}"
                                                   class="btn btn-outline-{{ album.color }} btn-sm pt-1">View
                                                    Details</a>


                                                <a href="{% url 'music:album-update' album.id %}"
                                                   class="btn btn-outline-{{ album.color }} btn-sm pt-1"
                                                   data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                        class="fas fa-pen"></i></a>


                                                <form class="btn btn-outline-{{ album.color }} btn-sm {{ album.color }} "
                                                      action="{% url 'music:delete_album' album.id %}"
                                                      method="post" style="display: inline"
                                                      data-toggle="tooltip" data-placement="top" title="Delete">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="album_id" value="{{ album.id }}">
                                                    <button class="btn btn-link" type="submit">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>

                                            </div>

                                            <a href="{% url 'music:favorite_album' album.id 'index' %}"
                                               data-toggle="tooltip" data-placement="top" title="Favorite">
                                                <i class="fab fa-gripfire fa-gripfire-x fa-2x {% if album.is_favorite %}active{% endif %}"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                {% endif %}

                <!-- ******* WHEN SEARCHING AND THERES SONGS ******* -->

                {% if songs %}

                    <div class='card card-white bg-dark text-white mw-20 my-5 col-12'>
                        <div class="card-body px-0 pb-0">

                            <h2 class="mb-2 text-center text-md-left pl-md-4">Songs</h2>

                            {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                            {% endif %}

                            {% for song in songs %}

                                <!-- ******* PLAYER FROM TEMPLATE******* -->

                                {% include 'music/player_template.html' %}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}


            {% elif q %}

                <h1>No results for {{ q }}</h1>

            {% else %}

                <!-- ******* IF NO CONTENT ******* -->

                <div class="col-12 col-md-6">

                    <div class="card p-3">

                        <div class="text-center mb-3 ">
                            <h2>You have no {% if favs == 'favs' %}favorite {% endif %}albums in library</h2>
                        </div>

                        {% if favs == 'all' %}
                            <div class="text-center">
                                <a class="btn btn-outline-info" role="button" href="{% url 'music:create_album' %}">Add
                                    Album</a>
                            </div>

                        {% else %}
                            <div class="text-center">
                                <a class="btn btn-outline-info" role="button" href="{% url 'music:index' %}">Back to
                                    your albums</a>
                            </div>
                        {% endif %}
                    </div>

                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}