{% extends 'music/base.html' %}
{% block title %}{{ user }}'s Songs{% endblock %}
{% block songs_active %}active{% endblock %}
{% block content %}
    <div class="content-cust">
        <div class="albums-container container-fluid">

            <div class="row justify-content-between">

                {% if song_list %}

                    <!-- ******* SONGS CARD ******* -->

                    <div class='card card-white bg-dark text-white mw-20 my-5 col-12 col-md-11 mx-auto'>
                        <div class="card-body px-0 pb-0">
                            <div class="row">

                                <h2 class="mb-2 col-12 col-md-4 pl-md-5 text-center text-md-left">Songs</h2>

                                <div class="col-12 col-md-8">

                                    <!-- ******* ALL/FAVS NAV ******* -->

                                    <nav class="justify-content-around justify-content-md-start navbar navbar-dark navbar-expand bg-dark mx-auto">
                                        <ul class="navbar-nav">

                                            <li role="presentation"
                                                class="{% if filter_by == 'all' %}active{% endif %} nav-item mr-2"><a
                                                    class="nav-link" href="{% url 'music:songs' 'all' %}">View All</a>
                                            </li>

                                            <li class="nav-item mt-2">/</li>

                                            <li role="presentation"
                                                class="{% if filter_by == 'favorites' %}active{% endif %} nav-item ml-1">
                                                <a class="nav-link"
                                                   href="{% url 'music:songs' 'favorites' %}">Favorites</a>
                                            </li>

                                        </ul>
                                    </nav>

                                </div>
                            </div>

                            {% if error_message %}
                                <p><strong>{{ error_message }}</strong></p>
                            {% endif %}

                            {% for song in song_list %}

                                <!-- ******* PLAYER FROM TEMPLATE******* -->

                                {% include 'music/player_template.html' %}

                            {% endfor %}


                        </div>
                    </div>

                {% else %}
                    <h1>No results for {{ q }}</h1>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}