@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
    overflow: visible;
    min-height: 100%;
    margin: 0;
}

body {
    background: white url("images/background.jpg");
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.popover{
    padding: 10px 10px 0 10px;
    min-width: 40%;
    max-width: 80%;
}

.body-content {
    width: 100%;
    margin-bottom: 2rem;
}

.content-cust {
    min-height: calc(100vh - 335px);
}

.navbar .container-fluid .navbar-brand,
.viberr{
    font-family: 'Pacifico', cursive;
    text-shadow: 0 0 2px lightskyblue;
}

.viberr,
.viberr:hover,
.viberr:active,
.viberr:focus
{
    text-decoration: none;
    color: purple;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    padding-top: 2px;
    padding-bottom: 2px;
}


.navbar .container-fluid .navbar-brand:hover,
.navbar .container-fluid .navbar-brand:focus {
    color: lightskyblue;
}

.navbaricon {
    color: white;
}

.social_link:hover,
.social_link:active,
.social_link:focus{
    color:white;
    text-decoration: none;
}

.social_link:hover .fa-facebook,
.social_link:active .fa-facebook,
.social_link:focus .fa-facebook{
    color: dodgerblue;
}

.social_link:hover .fa-bandcamp,
.social_link:active .fa-bandcamp,
.social_link:focus .fa-bandcamp{
    color: darkcyan;
}

.social_link:hover .fa-soundcloud,
.social_link:active .fa-soundcloud,
.social_link:focus .fa-soundcloud{
    color: orangered;
}

.social_link:hover .fa-spotify,
.social_link:active .fa-spotify,
.social_link:focus .fa-spotify{
    color: limegreen;
}

.social_link:hover .fa-vk,
.social_link:active .fa-vk,
.social_link:focus .fa-vk{
    color: white;
}

.social_link:hover .fa-link,
.social_link:active .fa-link,
.social_link:focus .fa-link{
    color: cyan;
}

.social_link:hover .fa-itunes,
.social_link:active .fa-itunes,
.social_link:focus .fa-itunes{
    color: deeppink;
}

.fa-gripfire {
    color: #f8f9fa;
    margin-bottom: 0;
}

.fa-pen,
.fa-facebook,
.fa-bandcamp,
.fa-spotify,
.fa-vk,
.fa-soundcloud,
.fa-link,
.fa-itunes,
.btn-outline-blue,
.btn-outline-indigo,
.btn-outline-purple,
.btn-outline-pink,
.btn-outline-red,
.btn-outline-red1,
.btn-outline-orange,
.btn-outline-yellow,
.btn-outline-green,
.btn-outline-teal,
.btn-outline-cyan,
.btn-outline-white,
.fa-gripfire,
.social_link{
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    transition: .3s all ease;
}

.fa-gripfire-x {
    color: #f8f9fa;
}

.fa-gripfire-x:hover,
.fa-gripfire-x:active,
.fa-gripfire-x:focus {
    color: #fd7e14;
    font-size: 40px;
    margin-top: -7px;
    margin-right: -3px;
}

.active {
    color: #fd7e14;
}

.btn-outline-blue,
.btn-outline-indigo,
.btn-outline-purple,
.btn-outline-pink,
.btn-outline-red,
.btn-outline-red1,
.btn-outline-orange,
.btn-outline-yellow,
.btn-outline-green,
.btn-outline-teal,
.btn-outline-cyan,
.btn-outline-white{

    color: #f8f9fa;

    background-color: #343a40;

    border-color: #f8f9fa;
    font-weight: bold;

    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bo-plr {
    border-top: none;
    border-bottom: none;
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {

    background: #007bff;

    color: #ffffff;

    border-color: #007bff;

}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:focus {

    background: white;

    color: #000000;

    border-color: white;
}

.btn-outline-indigo:hover,
.btn-outline-indigo:active,
.btn-outline-indigo:focus {
    background: #6610f2;
    color: #ffffff;
    border-color: #6610f2;

}

.btn-outline-purple:hover,
.btn-outline-purple:active,
.btn-outline-purple:focus {
    background: #6f42c1;
    color: #ffffff;
    border-color: #6f42c1;

}

.btn-outline-pink:hover,
.btn-outline-pink:active,
.btn-outline-pink:focus {
    background: #e83e8c;
    color: #000000;
    border-color: #e83e8c;

}

.btn-outline-red:hover,
.btn-outline-red:active,
.btn-outline-red:focus {
    background: #dc3545;
    color: #ffffff;
    border-color: #dc3545;

}

.btn-outline-red1:hover,
.btn-outline-red1:active,
.btn-outline-red1:focus {
    background: #dc3545;
    color: #ffffff;
    border-color: #dc3545;

}

.btn-outline-orange:hover,
.btn-outline-orange:active,
.btn-outline-orange:focus {
    background: #fd7e14;
    color: #000000;
    border-color: #fd7e14;

}

.btn-outline-yellow:hover,
.btn-outline-yellow:active,
.btn-outline-yellow:focus {
    background: #ffc107;
    color: #000000;
    border-color: #ffc107;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #28a745;
    color: #ffffff;
    border-color: #28a745;

}

.btn-outline-teal:hover,
.btn-outline-teal:active,
.btn-outline-teal:focus {
    background: #20c997;
    color: #ffffff;
    border-color: #20c997;

}

.btn-outline-cyan:hover,
.btn-outline-cyan:active,
.btn-outline-cyan:focus {
    background: #17a2b8;
    color: #000000;
    border-color: #17a2b8;

}

.btn-link,
.fa-pen {
    margin: 0;
    padding: 0;
    color: #f8f9fa;
    font-weight: bold;
}

.fa-facebook,
.fa-bandcamp,
.fa-spotify,
.fa-vk,
.fa-soundcloud,
.fa-link,
.fa-itunes,
.social_link,
.descBtn{
    color: #B0B0B0;
}

/* Button-outline icons */

.btn-outline-yellow:hover .fa-gripfire,
.btn-outline-yellow:hover .fa-trash-alt,
.btn-outline-yellow:hover .btn-link,
.btn-outline-yellow:active .fa-gripfire,
.btn-outline-yellow:active .fa-trash-alt,
.btn-outline-yellow:active .btn-link,
.btn-outline-yellow:focus .fa-gripfire,
.btn-outline-yellow:focus .fa-trash-alt,
.btn-outline-yellow:focus .btn-link,
.btn-outline-pink:hover .fa-gripfire,
.btn-outline-pink:hover .fa-trash-alt,
.btn-outline-pink:hover .btn-link,
.btn-outline-pink:active .fa-gripfire,
.btn-outline-pink:active .fa-trash-alt,
.btn-outline-pink:active .btn-link,
.btn-outline-pink:focus .fa-gripfire,
.btn-outline-pink:focus .fa-trash-alt,
.btn-outline-pink:focus .btn-link,
.btn-outline-orange:hover .fa-gripfire,
.btn-outline-orange:hover .fa-trash-alt,
.btn-outline-orange:hover .btn-link,
.btn-outline-orange:active .fa-gripfire,
.btn-outline-orange:active .fa-trash-alt,
.btn-outline-orange:active .btn-link,
.btn-outline-orange:focus .fa-gripfire,
.btn-outline-orange:focus .fa-trash-alt,
.btn-outline-orange:focus .btn-link,
.btn-outline-cyan:hover .fa-gripfire,
.btn-outline-cyan:hover .fa-trash-alt,
.btn-outline-cyan:hover .btn-link,
.btn-outline-cyan:active .fa-gripfire,
.btn-outline-cyan:active .fa-trash-alt,
.btn-outline-cyan:active .btn-link,
.btn-outline-cyan:focus .fa-gripfire,
.btn-outline-cyan:focus .fa-trash-alt,
.btn-outline-cyan:focus .btn-link,
.btn-outline-yellow:hover .fa-pen,
.btn-outline-yellow:active .fa-pen,
.btn-outline-yellow:focus .fa-pen,
.btn-outline-pink:hover .fa-pen,
.btn-outline-pink:active .fa-pen,
.btn-outline-pink:focus .fa-pen,
.btn-outline-orange:hover .fa-pen,
.btn-outline-orange:active .fa-pen,
.btn-outline-orange:focus .fa-pen,
.btn-outline-cyan:hover .fa-pen,
.btn-outline-cyan:active .fa-pen,
.btn-outline-cyan:focus .fa-pen,
.btn-outline-white:hover .fa-gripfire,
.btn-outline-white:hover .fa-trash-alt,
.btn-outline-white:hover .btn-link,
.btn-outline-white:active .fa-gripfire,
.btn-outline-white:active .fa-trash-alt,
.btn-outline-white:active .btn-link,
.btn-outline-white:focus .fa-gripfire,
.btn-outline-white:focus .fa-trash-alt,
.btn-outline-white:focus .btn-link,
.btn-outline-white:hover .fa-pen{
    color: black;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus{
    color: white;
    font-style: normal;
    text-decoration: none;
}


.card-blue,
.card-indigo,
.card-purple,
.card-pink,
.card-red,
.card-red1,
.card-orange,
.card-yellow,
.card-green,
.card-teal,
.card-cyan,
.card-white{
    border-color: grey;
}

.card-blue:hover {
    border-color: #007bff;
}

.card-indigo:hover {
    border-color: #6610f2;
}

.card-purple:hover {
    border-color: #6f42c1;
}

.card-pink:hover {
    border-color: #e83e8c;
}

.card-red:hover {
    border-color: #dc3545;
}

.card-red1:hover {
    border-color: #dc3545;
}

.card-orange:hover {
    border-color: #fd7e14;
}

.card-yellow:hover {
    border-color: #ffc107;
}

.card-green:hover {
    border-color: #28a745;
}

.card-teal:hover {
    border-color: #20c997;
}

.card-cyan:hover {
    border-color: #17a2b8;
}

.card-white:hover {
    border-color: white;
}

.fa-trash-alt {
    color: #f8f9fa;
}


.yellow:hover button,
.yellow:active button,
.yellow:focus button,
.pink:hover button,
.pink:active button,
.pink:focus button,
.orange:hover button,
.orange:active button,
.orange:focus button,
.cyan:focus button,
.cyan:hover button,
.cyan:active button,
.white:focus button,
.white:hover button,
.white:active button{
    color: #000000;
}

@media (min-width: 960px) {
    #navcustom {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

/* footer */

section {
    padding-bottom: 10px;
    margin-top: auto;
    width: 100%;
}

#footer {
    background: #343a40 !important;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    color: #ffffff;
}


#footer ul.social li:hover a i {
    font-size: 40px;
    margin-top: -25px;
    color: lightskyblue;
    text-shadow: 0 0 2px lightskyblue;
}

#footer ul.social li:hover a .bc_icon {
    font-size: 40px;
    margin-top: -25px;
    color: darkcyan;
}


/*top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 90;
    font-size: 25px;
    outline: none;
    border: 2px solid white;
    background-color: #343a40;
    color: white;
    cursor: pointer;
    padding: 0 0;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#myBtn:hover {
    font-size: 45px;
    margin-bottom: 10px;
    color: #ffef96;
    border-color: #17a2b8;
    border-radius: 5px;
    width: 70px;
    padding-top: 20px;
    background: none;
}

#topWord {
    position: fixed;
    bottom: 50px;
    right: 30px;
    border-radius: 5px;
    padding-top: 5px;
    z-index: 80;
    color: #ffef96;
    background: #343a40;
    width: 70px;
    height: 40px;
    text-align: center;
    font: 18pt sans-serif;
    opacity: 0;
    transition: .1s;
}

#myBtn:hover + #topWord {
    display: block;
    opacity: 1;
    transition: 1s;
}

.dropleft .dropdown-toggle::before { content: none }

.dropdown-menu {
    background-color: #343a40;
    min-width: 4rem;
}

.add-btn {
    content: 'Add Album';
}

.update-btn{
    content: 'Update';
}
